<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<div class="container">
  <h2>User Data</h2>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
    <div class="form-group">
      <label>Name</label>
      <input type="text" #nameRef="ngModel" maxlength="10" minlength="4" required class="form-control" name="name" ngModel>
      <div *ngIf="nameRef.errors && (nameRef.dirty || name.Ref.touched)" class="alert alert-danger">
        <div [hidden] = "!nameRef.errors.required">
          Please enter a name
        </div>

        <div [hidden] = "!nameRef.errors.minlength">
          Please enter at least 4 character
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text"  class="form-control" name="email" ngModel>
    </div>
    <div class="form-group">
      <label>Street</label>
      <input type="text" class="form-control" name="street" ngModel>
    </div>
    <div class="form-group">
      <label>City</label>
      <input type="text" class="form-control" name="city" ngModel>
    </div>
    <div class="form-group">
      <label>PostalCode</label>
      <input type="text" #refPincode="ngModel"  pattern="^[1-9][0-9]{4}$" class="form-control" name="postalcode" ngModel>
      <div *ngIf="refPincode.errors && (refPincode.dirty || refPincode.touched)" class="alert alert-danger">
        <div [hidden] = "!refPincode.errors.pattern">
          Please enter five digit number
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

